{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <div class="login-logo">

            <div class="login-logo-icon">
                AI
            </div>

            <div class="login-logo-text">
                AI Vision
            </div>

        </div>

        <h1>
            Welcome Back
        </h1>

        <p class="sub">
            Login using your email and password
        </p>

        <form method="POST">

            <div class="field">

                <label>Email Address</label>

                <div class="input-wrap">

                    <i class="ti ti-mail"></i>

                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="you@example.com"
                        required>

                </div>

            </div>

            <div class="field">

                <label>Password</label>

                <div class="input-wrap">

                    <i class="ti ti-lock"></i>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        required>

                    <button
                        type="button"
                        class="eye"
                        onclick="togglePassword()">

                        <i class="ti ti-eye"
                           id="eyeIcon"></i>

                    </button>

                </div>

            </div>

            <div class="options">

                <a href="#"
                   class="forgot">

                    Forgot Password?

                </a>

            </div>

            <button
                type="submit"
                class="login-btn">

                Login

            </button>

        </form>

        <div class="bottom">

            Don't have an account?

            <a href="/register">
                Create Account
            </a>

        </div>

    </div>

</div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}